<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbms.dao.DockerMonitorDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dbms.entity.DockerMonitorEntity">
        <id column="ID" property="id" />
        <result column="CPU_INFO" property="cpuInfo" />
        <result column="MEMORY_INFO" property="memoryInfo" />
        <result column="NETWORK_INFO" property="networkInfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CPU_INFO, MEMORY_INFO, NETWORK_INFO
    </sql>

</mapper>
